{
  "arrowParens": "always",
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": [
    "^@(A/|C/)(.*)$",
    "^@/(.*)$",
    "^src/(.*)$",
    "^[./].*(?<!\\.(c|le|sc)ss)$",
    "^[^./].*\\.(c|le|sc)ss$",
    "^[./].*\\.(c|le|sc)ss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
